@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  background: #f5f7f8;
}

.dark body {
  background: #0f1823;
}

@layer base {
  body {
    @apply font-display antialiased;
  }
}
